@{
    ViewBag.Title = "Devermind IT Solutions";
    Layout = "~/Views/Devermind/_LayoutPage1.cshtml";
}

<!-- Barra de navegação -->
<!-- <header>
  <nav class="navbar">
      <a class="logo" href="#">
        <svg width="230" height="38" viewBox="0 0 230 38" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M63.0883 19.7411C63.0883 21.3413 62.8097 22.8201 62.2527 24.1772C61.7058 25.5243 60.931 26.6941 59.9283 27.6867C58.9256 28.6691 57.7152 29.4388 56.2973 29.9959C54.8895 30.5428 53.3247 30.8163 51.6029 30.8163H43.0041V8.68111H51.6029C53.3247 8.68111 54.8895 8.95963 56.2973 9.51668C57.7152 10.0737 58.9256 10.8435 59.9283 11.8259C60.931 12.8083 61.7058 13.9782 62.2527 15.3353C62.8097 16.6824 63.0883 18.151 63.0883 19.7411ZM57.8317 19.7411C57.8317 18.6472 57.6899 17.6597 57.4063 16.7786C57.1228 15.8974 56.7126 15.153 56.1758 14.5453C55.6491 13.9275 55.0009 13.4565 54.2312 13.1324C53.4614 12.7982 52.5853 12.6311 51.6029 12.6311H48.1694V26.8663H51.6029C52.5853 26.8663 53.4614 26.7042 54.2312 26.3801C55.0009 26.0459 55.6491 25.5749 56.1758 24.9672C56.7126 24.3494 57.1228 23.5999 57.4063 22.7188C57.6899 21.8376 57.8317 20.8451 57.8317 19.7411ZM71.2843 12.6311V17.7965H78.2423V21.5946H71.2843V26.8663H80.3692V30.8163H66.1189V8.68111H80.3692V12.6311H71.2843ZM103.393 8.68111L94.5206 30.8163H89.8718L80.9995 8.68111H85.1318C85.5774 8.68111 85.937 8.78745 86.2104 9.00014C86.4839 9.20271 86.6915 9.46604 86.8333 9.79014L91.1175 21.6401C91.3201 22.1567 91.5176 22.7238 91.71 23.3417C91.9025 23.9494 92.0848 24.5874 92.257 25.2559C92.3988 24.5874 92.5558 23.9494 92.7279 23.3417C92.9102 22.7238 93.1027 22.1567 93.3052 21.6401L97.5591 9.79014C97.6705 9.50655 97.868 9.25335 98.1516 9.03053C98.4453 8.79758 98.8048 8.68111 99.2302 8.68111H103.393ZM110.304 12.6311V17.7965H117.262V21.5946H110.304V26.8663H119.388V30.8163H105.138V8.68111H119.388V12.6311H110.304ZM129.757 19.0878C130.456 19.0878 131.048 19.0017 131.534 18.8296C132.031 18.6472 132.436 18.3991 132.75 18.0851C133.064 17.7712 133.292 17.4065 133.434 16.9913C133.575 16.5659 133.646 16.1101 133.646 15.624C133.646 14.6517 133.327 13.8921 132.689 13.3451C132.061 12.7982 131.084 12.5248 129.757 12.5248H127.691V19.0878H129.757ZM140.665 30.8163H136.016C135.155 30.8163 134.537 30.4922 134.163 29.844L130.486 23.4176C130.314 23.1442 130.122 22.9467 129.909 22.8251C129.696 22.6935 129.392 22.6276 128.997 22.6276H127.691V30.8163H122.556V8.68111H129.757C131.357 8.68111 132.719 8.84822 133.844 9.18245C134.978 9.50655 135.9 9.96232 136.609 10.5498C137.328 11.1372 137.849 11.831 138.174 12.6311C138.498 13.4312 138.66 14.3023 138.66 15.2442C138.66 15.9633 138.563 16.6419 138.371 17.2799C138.179 17.918 137.895 18.5105 137.52 19.0574C137.146 19.5942 136.68 20.0753 136.123 20.5007C135.576 20.9261 134.943 21.2755 134.224 21.549C134.558 21.7212 134.872 21.9389 135.165 22.2022C135.459 22.4554 135.722 22.7593 135.955 23.1138L140.665 30.8163Z" fill="url(#paint0_linear)"/> <path d="M167.415 8.84822V30.8163H163.814V16.6267C163.814 16.0595 163.845 15.4467 163.906 14.7884L157.267 27.2613C156.953 27.8588 156.472 28.1576 155.823 28.1576H155.246C154.598 28.1576 154.117 27.8588 153.803 27.2613L147.088 14.7428C147.118 15.0771 147.143 15.4062 147.164 15.7303C147.184 16.0544 147.194 16.3532 147.194 16.6267V30.8163H143.594V8.84822H146.678C146.86 8.84822 147.017 8.85329 147.149 8.86341C147.28 8.87354 147.397 8.89886 147.498 8.93938C147.609 8.97989 147.706 9.04572 147.787 9.13688C147.878 9.22803 147.964 9.34957 148.045 9.50149L154.623 21.7009C154.795 22.025 154.952 22.3592 155.094 22.7036C155.246 23.0479 155.393 23.4024 155.535 23.767C155.676 23.3923 155.823 23.0328 155.975 22.6884C156.127 22.3339 156.289 21.9946 156.461 21.6705L162.949 9.50149C163.03 9.34957 163.116 9.22803 163.207 9.13688C163.298 9.04572 163.394 8.97989 163.495 8.93938C163.607 8.89886 163.728 8.87354 163.86 8.86341C163.992 8.85329 164.149 8.84822 164.331 8.84822H167.415Z" fill="#333333"/> <path d="M177.67 30.8163H173.568V8.84822H177.67V30.8163Z" fill="#333333"/> <path d="M202.792 8.84822V30.8163H200.696C200.372 30.8163 200.098 30.7656 199.875 30.6643C199.663 30.5529 199.455 30.3706 199.253 30.1174L187.782 15.4721C187.843 16.1405 187.874 16.7583 187.874 17.3255V30.8163H184.273V8.84822H186.415C186.587 8.84822 186.734 8.85835 186.856 8.87861C186.987 8.88873 187.099 8.91912 187.19 8.96976C187.291 9.01027 187.387 9.07611 187.479 9.16726C187.57 9.24829 187.671 9.3597 187.782 9.50149L199.298 24.2076C199.268 23.8531 199.242 23.5037 199.222 23.1594C199.202 22.815 199.192 22.496 199.192 22.2022V8.84822H202.792Z" fill="#333333"/> <path d="M228.402 19.8322C228.402 21.4426 228.133 22.9213 227.596 24.2684C227.06 25.6154 226.305 26.7751 225.333 27.7474C224.36 28.7197 223.191 29.4743 221.823 30.0111C220.456 30.5479 218.937 30.8163 217.266 30.8163H208.895V8.84822H217.266C218.937 8.84822 220.456 9.12168 221.823 9.6686C223.191 10.2054 224.36 10.9599 225.333 11.9323C226.305 12.8944 227.06 14.049 227.596 15.3961C228.133 16.7431 228.402 18.2219 228.402 19.8322ZM224.209 19.8322C224.209 18.627 224.046 17.5483 223.722 16.5963C223.408 15.6341 222.948 14.8239 222.34 14.1655C221.742 13.4971 221.013 12.9856 220.152 12.6311C219.301 12.2766 218.339 12.0994 217.266 12.0994H212.997V27.5651H217.266C218.339 27.5651 219.301 27.3879 220.152 27.0334C221.013 26.6789 221.742 26.1725 222.34 25.5142C222.948 24.8457 223.408 24.0354 223.722 23.0834C224.046 22.1212 224.209 21.0375 224.209 19.8322Z" fill="#333333"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M23.1778 16.4508C24.7837 16.3243 25.4918 16.8554 26.9586 17.5003C28.3495 17.6963 28.4696 18.5688 29.968 18.613C30.4169 18.4234 30.6445 18.2147 30.9037 18.1325C31.302 18.0061 31.7003 18.0124 32.5033 17.5825C32.674 17.6078 32.9332 17.494 33.066 17.3865C34.6655 16.5583 34.2672 16.1157 33.224 15.1484C32.8953 14.7185 32.5791 14.3328 32.2251 13.9218C31.6561 13.3086 31.0871 12.6953 30.518 12.0757C29.7025 11.1716 29.5065 10.9883 29.3484 9.78069C29.595 8.34552 27.7994 5.44988 27.0787 4.40669C27.0155 3.9009 27.1356 3.45833 27.3885 3.00312C27.85 2.40882 28.242 2.16225 28.7794 1.63749C29.1651 1.25815 29.8795 0.505789 30.0565 0C29.9554 0.0379342 29.8542 0.0821907 29.753 0.126447C28.7288 0.543723 26.4148 0.290829 24.7521 0.973644C25.0176 0.714427 25.3021 0.448888 25.5929 0.195993C24.1198 0.733394 22.7731 1.22654 21.907 1.88406C21.5593 1.87774 21.0724 1.87142 20.3643 1.89039C17.867 3.03473 15.376 5.2033 12.7901 7.01782C10.767 8.19378 8.11159 8.28229 5.20963 7.39084C6.91034 8.83866 7.74489 9.07259 9.39503 9.04098C8.92085 9.26226 8.44035 9.45193 7.95986 9.60367C5.48149 10.2865 3.19279 9.39503 0 8.04837C1.11274 9.60367 4.69752 11.9872 5.58897 12.1073C2.90829 17.9049 7.00518 21.6351 6.25914 26.3137C7.31497 24.7015 5.97463 20.8638 6.08844 19.182C7.34659 27.7046 14.8449 31.106 17.3865 33.224C16.7037 32.5665 15.1737 31.4032 14.5161 29.968C17.1399 31.4158 20.4276 31.9785 23.2284 32.8573C22.2547 32.263 20.7816 31.7635 19.5108 31.2578C24.1704 32.1366 26.0165 33.5085 26.6551 35.519C26.9649 34.6149 26.7436 33.7677 26.1177 33.0786C30.556 32.8889 32.2504 35.1334 31.2135 37.8773C34.381 34.5011 30.183 31.5612 29.7657 31.2261C29.7277 31.1945 29.9617 31.2578 30.145 31.34C32.1619 32.2946 32.7119 33.6223 32.6297 33.42C30.4359 27.5781 26.8637 29.5128 22.4191 27.8627C20.377 27.104 25.6435 27.869 25.0998 27.7741C21.8817 27.2304 21.6857 24.986 21.9133 25.3337C23.8732 28.2862 26.3895 26.8258 27.2494 26.7246C25.7257 26.9649 23.8922 25.4096 23.5571 24.3664C24.1388 25.1377 27.85 25.0998 28.8047 24.0439C26.8448 23.7025 22.4001 22.5708 22.2421 19.182C22.2105 18.4739 22.5772 16.9123 23.1778 16.4508Z" fill="url(#paint1_linear)"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2831 3.74284C25.6624 2.95255 26.5792 2.2887 27.85 1.67543C28.2988 1.46047 29.4495 0.57534 29.9047 0.214966C29.6898 0.828235 28.7983 1.6944 28.5075 1.95362C27.5528 2.80081 27.047 3.18015 27.0786 4.40669C26.4717 4.02103 25.8331 3.85032 25.2831 3.74284Z" fill="url(#paint2_linear)"/> <defs> <linearGradient id="paint0_linear" x1="60.8591" y1="-2.39527" x2="65.7051" y2="54.0717" gradientUnits="userSpaceOnUse"> <stop stop-color="#00498E"/> <stop offset="0.388235" stop-color="#028EFA"/> <stop offset="1" stop-color="#03E7DD"/> </linearGradient> <linearGradient id="paint1_linear" x1="10.4319" y1="7.29398" x2="31.6118" y2="37.6413" gradientUnits="userSpaceOnUse"> <stop stop-color="#00498E"/> <stop offset="0.388235" stop-color="#028EFA"/> <stop offset="1" stop-color="#02B7AF"/> </linearGradient> <linearGradient id="paint2_linear" x1="26.6954" y1="1.02216" x2="28.845" y2="4.79006" gradientUnits="userSpaceOnUse"> <stop stop-color="#00498E"/> <stop offset="0.388235" stop-color="#028EFA"/> <stop offset="1" stop-color="#03E7DD"/> </linearGradient> </defs> </svg>
      </a>

    <div class="navbar-menu">
      <div class="menu">
        <a href="">Sobre nós</a>
        <a href="">Portfólio</a>
        <a href="">Contato</a>
      </div>
    </div>

    <div class="navbar-login">
      <a href="#">Login</a>
    </div>
  </nav>
</header>
 -->

<div class="bg-intro">
    <section class="intro">
        <div class="intro-left">
            <h1>Nós criamos produtos digitais notáveis</h1>
            <p>Sempre desenvolvendo sistemas confortáveis para que a sua necessidade seja atendida e seus esforços minimizados.</p>
            <a class="botao-principal" href="#">Descubra &nbsp <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0)"> <path d="M1.955 0.313061L7.067 5.42606L12.179 0.313061C12.278 0.213979 12.3954 0.135357 12.5248 0.0816835C12.6541 0.0280102 12.7928 0.000337182 12.9328 0.000244328C13.0728 0.000151475 13.2115 0.0276406 13.3409 0.0811423C13.4703 0.134644 13.5879 0.21311 13.687 0.312061C13.7861 0.411012 13.8647 0.52851 13.9184 0.657846C13.9721 0.787182 13.9997 0.925824 13.9998 1.06585C13.9999 1.20589 13.9724 1.34456 13.9189 1.47397C13.8654 1.60338 13.787 1.72098 13.688 1.82006L7.82 7.68706C7.72114 7.78635 7.60364 7.86514 7.47425 7.9189C7.34485 7.97267 7.20612 8.00034 7.066 8.00034C6.92588 8.00034 6.78715 7.97267 6.65775 7.9189C6.52836 7.86514 6.41086 7.78635 6.312 7.68706L0.446 1.82006C0.347049 1.72104 0.26857 1.60351 0.215043 1.47416C0.161516 1.34481 0.13399 1.20619 0.134036 1.06621C0.134082 0.926223 0.161701 0.787618 0.215314 0.658308C0.268926 0.528997 0.347483 0.411512 0.4465 0.312561C0.545517 0.21361 0.663054 0.13513 0.7924 0.0816037C0.921747 0.0280769 1.06037 0.000550945 1.20035 0.00059738C1.34034 0.000643816 1.47894 0.0282618 1.60825 0.0818743C1.73756 0.135487 1.85505 0.214044 1.954 0.313061L1.955 0.313061Z" fill="white" /> </g> <defs> <clipPath id="clip0"> <rect width="8" height="14" fill="white" transform="translate(14) rotate(90)" /> </clipPath> </defs> </svg></a>
        </div>
        <div class="intro-right">

        </div>
    </section>
</div>

<section class="secao">
    <div class="primeira-secao">
        <svg width="54" height="60" viewBox="0 0 54 60" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M36.66 26.02C39.2 25.82 40.32 26.66 42.64 27.68C44.84 27.99 45.03 29.37 47.4 29.44C48.11 29.14 48.47 28.81 48.88 28.68C49.51 28.48 50.14 28.49 51.41 27.81C51.68 27.85 52.09 27.67 52.3 27.5C54.83 26.19 54.2 25.49 52.55 23.96C52.03 23.28 51.53 22.67 50.97 22.02C50.07 21.05 49.17 20.08 48.27 19.1C46.98 17.67 46.67 17.38 46.42 15.47C46.81 13.2 43.97 8.62 42.83 6.97C42.73 6.17 42.92 5.47 43.32 4.75C44.05 3.81 44.67 3.42 45.52 2.59C46.13 1.99 47.26 0.8 47.54 0C47.38 0.06 47.22 0.13 47.06 0.2C45.44 0.86 41.78 0.46 39.15 1.54C39.57 1.13 40.02 0.71 40.48 0.31C38.15 1.16 36.02 1.94 34.65 2.98C34.1 2.97 33.33 2.96 32.21 2.99C28.26 4.8 24.32 8.23 20.23 11.1C17.03 12.96 12.83 13.1 8.24 11.69C10.93 13.98 12.25 14.35 14.86 14.3C14.11 14.65 13.35 14.95 12.59 15.19C8.67 16.27 5.05 14.86 0 12.73C1.76 15.19 7.43 18.96 8.84 19.15C4.6 28.32 11.08 34.22 9.9 41.62C11.57 39.07 9.45 33 9.63 30.34C11.62 43.82 23.48 49.2 27.5 52.55C26.42 51.51 24 49.67 22.96 47.4C27.11 49.69 32.31 50.58 36.74 51.97C35.2 51.03 32.87 50.24 30.86 49.44C38.23 50.83 41.15 53 42.16 56.18C42.65 54.75 42.3 53.41 41.31 52.32C48.33 52.02 51.01 55.57 49.37 59.91C54.38 54.57 47.74 49.92 47.08 49.39C47.02 49.34 47.39 49.44 47.68 49.57C50.87 51.08 51.74 53.18 51.61 52.86C48.14 43.62 42.49 46.68 35.46 44.07C32.23 42.87 40.56 44.08 39.7 43.93C34.61 43.07 34.3 39.52 34.66 40.07C37.76 44.74 41.74 42.43 43.1 42.27C40.69 42.65 37.79 40.19 37.26 38.54C38.18 39.76 44.05 39.7 45.56 38.03C42.46 37.49 35.43 35.7 35.18 30.34C35.13 29.22 35.71 26.75 36.66 26.02Z" fill="#8E8E8E" fill-opacity="0.3" /> </svg>
        <h2 class="titulo-centralizado">Feito sob medida pensando em cada detalhe<span>.</span></h2>
        <p class="paragrafo-centralizado">Cada projeto é único, e construí-los requer empenho e dedicação. Por isso, o projeto passa por todas as etapas cuidando de cada detalhe para torná-lo a ferramenta mais eficaz possível.</p>

        <div class="icones-grid">
            <div class="card card-desc">
                <div><svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.48761 20.0611L1.48763 20.061C3.32282 10.7822 10.8328 3.29006 20.142 1.47319C35.5122 -1.52012 48.951 10.1062 49 24.8765C48.9904 27.8233 46.5936 30.2539 43.662 30.2539H35.8786C30.1645 30.2539 26.4396 36.2064 29.0399 41.3169L29.0401 41.3174C30.631 44.4401 28.8649 48.3276 25.6272 48.8305C19.8189 49.7306 12.907 46.9914 7.85598 41.7206C2.83348 36.4797 -0.247927 28.8326 1.48761 20.0611ZM5.24896 28.1289C5.24896 30.4097 7.0932 32.2539 9.37403 32.2539C11.6549 32.2539 13.4991 30.4097 13.4991 28.1289C13.4991 25.848 11.6549 24.0038 9.37403 24.0038C7.0932 24.0038 5.24896 25.848 5.24896 28.1289ZM8.37403 15.6287C8.37403 17.9095 10.2183 19.7537 12.4991 19.7537C14.7799 19.7537 16.6242 17.9095 16.6242 15.6287C16.6242 13.3478 14.7799 11.5036 12.4991 11.5036C10.2183 11.5036 8.37403 13.3478 8.37403 15.6287ZM20.8743 9.37857C20.8743 11.6594 22.7186 13.5036 24.9994 13.5036C27.2802 13.5036 29.1245 11.6594 29.1245 9.37857C29.1245 7.09773 27.2802 5.25352 24.9994 5.25352C22.7186 5.25352 20.8743 7.09774 20.8743 9.37857ZM33.3746 15.6287C33.3746 17.9095 35.2189 19.7537 37.4997 19.7537C39.7805 19.7537 41.6248 17.9095 41.6248 15.6287C41.6248 13.3478 39.7805 11.5036 37.4997 11.5036C35.2189 11.5036 33.3746 13.3478 33.3746 15.6287Z" stroke="#028EFA" stroke-width="2" /> </svg></div>
                <p><span>UX</span> DESIGN</p>
            </div>
            <div class="card card-desc">
                <div><svg width="36" height="51" viewBox="0 0 36 51" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.7242 42.3072H24.9229L24.9199 45.1141C24.9199 45.1141 24.9199 45.1141 24.9199 45.1142C24.9194 45.5381 24.7915 45.954 24.5498 46.3101L24.5496 46.3103L22.8189 48.8612L22.8187 48.8615C22.6163 49.1601 22.3403 49.407 22.0138 49.5786C21.6873 49.7502 21.3213 49.8406 20.9486 49.8406H14.6993C14.3266 49.8406 13.9606 49.7502 13.634 49.5786C13.3076 49.407 13.0316 49.1601 12.8292 48.8615L12.829 48.8612L11.0983 46.3103L11.098 46.3099C10.8566 45.9545 10.7286 45.5379 10.728 45.1136L10.7242 42.3072ZM5.15689 28.3063L5.15685 28.3062C2.56704 25.4091 1 21.6239 1 17.4762C1 8.77482 8.00619 1.02918 17.7707 1.00008L17.7708 1.00008C27.1055 0.971906 34.6469 8.37755 34.6469 17.4762C34.6469 21.6239 33.0798 25.4091 30.49 28.3062L30.49 28.3063C28.8586 30.1314 26.366 33.8059 25.1983 37.1307H10.4486C9.28092 33.8059 6.78825 30.1314 5.15689 28.3063ZM10.7219 17.4762C10.7219 13.667 13.8901 10.5325 17.8234 10.5325C19.2523 10.5325 20.4437 9.39229 20.4437 7.94376C20.4437 6.49524 19.2523 5.35503 17.8234 5.35503C11.0354 5.35503 5.48125 10.7729 5.48125 17.4762C5.48125 18.9247 6.6727 20.0649 8.10156 20.0649C9.53043 20.0649 10.7219 18.9247 10.7219 17.4762Z" stroke="#028EFA" stroke-width="2" /> </svg></div>
                <p><span>MARKETING</span> DIGITAL</p>
            </div>
            <div class="card card-desc">
                <div><svg width="48" height="51" viewBox="0 0 48 51" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M44.5908 9.23338L44.5916 9.23368C45.9962 9.81458 46.9188 11.1888 46.9188 12.7089C46.9188 34.2324 33.6429 46.1413 25.4142 49.5515C24.4808 49.937 23.4277 49.937 22.4943 49.5514C12.2018 45.2831 1 32.0335 1 12.7089C1 11.1897 1.92145 9.81588 3.33533 9.23444L3.33789 9.23338L22.504 1.28935C22.5041 1.28928 22.5043 1.28922 22.5044 1.28915C22.9671 1.0983 23.4632 1 23.9644 1C24.4655 1 24.9617 1.0983 25.4243 1.28915C25.4245 1.28922 25.4246 1.28928 25.4248 1.28935L44.5908 9.23338ZM22.9694 44.3189L22.9698 45.9288L24.4128 45.2149C34.1236 40.4107 42.1823 29.1648 42.5194 13.7835L42.5343 13.0997L41.9025 12.8378L24.3423 5.55855L22.959 4.98511L22.9594 6.48259L22.9694 44.3189Z" stroke="#028EFA" stroke-width="2" /> </svg></div>
                <p><span>SEGURANÇA E</span> CONFIANÇA</p>
            </div>
            <div class="card card-desc">
                <div><svg width="68" height="51" viewBox="0 0 51 39" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M29.9905 37.0559L29.9898 37.0565C28.6 38.23 26.4216 37.2583 26.4216 35.3501V3.21422C26.4216 1.31259 28.5962 0.338816 29.9914 1.50915C29.9916 1.50933 29.9918 1.5095 29.992 1.50968L49.0552 17.5751C49.0554 17.5753 49.0555 17.5754 49.0556 17.5755C50.1023 18.4614 50.1023 20.1029 49.0556 20.9889C49.0555 20.989 49.0554 20.9891 49.0552 20.9892L29.9905 37.0559ZM4.56898 37.0559L4.56825 37.0565C3.17844 38.23 1 37.2583 1 35.3501V3.21422C1 1.31259 3.17467 0.338816 4.56981 1.50915C4.57002 1.50933 4.57024 1.5095 4.57045 1.50968L23.6337 17.5751C23.6338 17.5752 23.6339 17.5753 23.634 17.5754C24.6808 18.4614 24.6808 20.103 23.634 20.9889C23.6339 20.989 23.6338 20.9891 23.6337 20.9892L4.56898 37.0559Z" stroke="#028EFA" stroke-width="2" /> </svg></div>
                <p><span>RÁPIDEZ E</span> FLUXO</p>
            </div>
        </div>
    </div>
</section>

<div class="bg-cinza">
    <section class="container">
        <div class="lado-esquerdo">
            <h3 class="titulo-a-esquerda">Gerenciar seu negócio nunca foi tão fácil<span>.</span></h3>
            <p class="paragrafo-a-esquerda">Sistemas gerenciáveis são a melhor opção para quem busca ter o controle da empresa de forma simples, didática e eficaz.</p>
            <a class="botao-secundario" href="">Saiba mais &nbsp <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14"><path d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z"></path></svg></a>
        </div>
        <div class="lado-direito">
            <div class="lado-direito-fundo foto1"></div>
        </div>
    </section>
</div>

<div class="bg-secao">
    <section class="container">
        <div class="lado-direito">
            <div class="lado-direito-fundo foto2"></div>
        </div>
        <div class="lado-esquerdo">
            <h3 class="titulo-a-esquerda">Tenha o controle da empresa ao seu alcance<span>.</span></h3>
            <p class="paragrafo-a-esquerda">Na palma da sua mão, estarão todos os dados necessários para você cuidar dos negócios. Na praia ou em casa, onde você estiver.</p>
            <a class="botao-secundario" href="">Saiba mais &nbsp <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14"><path d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z"></path></svg></a>
        </div>
    </section>
</div>

<div class="bg-cinza">
    <section class="container">
        <div class="lado-esquerdo">
            <h3 class="titulo-a-esquerda">Invista em visibilidade e saia ganhando<span>.</span></h3>
            <p class="paragrafo-a-esquerda">Os websites estão em alta e você pode ficar para trás. Tenha um site, ganhe visibilidade e saia na frente de seus concorrentes.</p>
            <a class="botao-secundario" href="">Saiba mais &nbsp <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14"><path d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z"></path></svg></a>
        </div>
        <div class="lado-direito">
            <div class="lado-direito-fundo foto3"></div>
        </div>
    </section>
</div>

<div class="bg-secao secao">
    <section class="portfolio-secao">
        <div class="port-intro">
            <h2 class="titulo-centralizado">Descubra mais em nosso portfólio<span>.</span></h2>
            <p class="paragrafo-centralizado">
                Nós desenvolvemos deste sistemas desktop, aplicativos mobile até websites. Focando sempre no essencial, utilizando desde as mais diversas técnicas.
            </p>
        </div>

        <div class="portfolio-container">

            <div class="port-card">
                <div class="card-bg card-bg-1"></div>
                <div class="card-texto"><h4>Sistema de gerenciamento</h4><p>Loja de esportes</p></div>
            </div>

            <div class="port-card">
                <div class="card-bg card-bg-4"></div>
                <div class="card-texto">
                    <h4>Website & Ecommerce</h4>
                    <p>Loja de esportes</p>
                </div>
            </div>

            <div class="port-card">
                <div class="card-bg card-bg-3"></div>
                <div class="card-texto">
                    <h4>Website & Gerenciador</h4>
                    <p>Devemind Solutions</p>
                </div>
            </div>

            <div class="port-card">
                <div class="card-bg card-bg-2"></div>
                <div class="card-texto">
                    <h4>Aplicativo mobile</h4>
                    <p>Devemind Solutions</p>
                </div>
            </div>

        </div>

        <div class="botao-portfolio">
            <a class="botao-terciario" href=""><p>Acessar Portfólio &nbsp<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14"><path d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z"></path></svg></p></a>
        </div>

    </section>
</div>

<div class="bg-contato">
    <div class="secao">
        <h1 class="titulo-contato">Entre em contato</h1>
        <p class="paragrafo-contato">Entre em contato para tirar dúvidas ou marcar negócios. Assim que recebermos sua mensagem, iremos retornar o mais rápido possível.</p>
        <section class="contato">

            <div class="form-contato">
                <form class="form" action="#" method="post">

                    <div>
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" />
                    </div>

                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" />
                    </div>

                    <div>
                        <label for="msg">Mensagem</label>
                        <textarea id="msg"></textarea>
                    </div>

                    <div class="button">
                        <button type="submit">Enviar Mensagem</button>
                    </div>

                </form>
            </div>

            <div class="dados-contato">
                <div>
                    <h3>Endereço</h3>
                    <p>Rua tal tal tal</p>
                    <p>São Paulo, SP</p>
                    <p>Próximo a loja tal tal tal</p>
                </div>

                <div>
                    <h3>Email e telefone</h3>
                    <p>contato@notime.com</p>
                    <p>21 9999-9999</p>
                </div>

                <div>
                    <h3>Horário</h3>
                    <p>De segunda a sexta</p>
                    <p>das 08:00 às 18:00</p>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="dvm/js/origamid-menu.js"></script>
<script type="text/javascript" src="dvm/js/index.js"></script>
