@{
    ViewBag.Title = "NOTIME Sports - Loja de Esportes";
    Layout = "~/Views/Notime/_LayoutNotime.cshtml";
}

<!-- MENU DE OPÇÕES -->
<div class="menu">
    <ul class="menu-items">
        <li><a href="#equipamentos">Equipamentos</a></li>
        <li><a href="#vestuarios">Vestuário</a></li>
        <li><a href="#luta">Tendências</a></li>
    </ul>
</div>

<!-- INTRODUÇÃO -->
<div class="bg-intro">
    <section class="intro-grid">
        <div class="introducao intro-1">
            <h1 data-anime="100" class="fadeInDown">Faça de si um <span>campeão</span></h1>
            <p data-anime="200" class="fadeInDown">Espaço dedicado para um texto vendendo brevemente a ideia da empresa</p>
            <a data-anime="300" class="fadeInDown" href="#equipamentos">EXPLORAR ⮟</a>
        </div>
        <div class="introducao intro-2">
            <h1 data-anime="100" class="fadeInDown" >Faça de si uma <span>campeã</span></h1>
            <p data-anime="200" class="fadeInDown" >Espaço dedicado para um texto vendendo brevemente a ideia da empresa</p>
            <a data-anime="300" class="fadeInDown" href="#equipamentos">EXPLORAR ⮟</a>
        </div>
    </section>
</div>

<!-- PARTE 1: EQUIPAMENTOS -->
<section class="secao">
    <h1 class="titulo-secao" id="equipamentos">Equipamentos</h1>
    <div class="photo-grid">
        <div class="card card-tall"
             style="background-image:url('img/produtos/equip-1.png')">
            <div class="descricao-tall">
                <h2>Equipamentos para todos os exercícios</h2>
                <p>a partir de</p>
                <span>R$ 19,90</span>
                <a href="#"><p>VER MAIS ⮞</p></a>
            </div>
        </div>

        <div class="card"
             style="background-image:url('img/produtos/equip-2.png')">
            <div class="descricao">
                <h2>Bola de Futebol MAET</h2>
                <p>R$ 199,90</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/equip-3.png')">
            <div class="descricao">
                <h2>Luvas de box DRAGON</h2>
                <p>R$ 149,00</p>
                <span>ou 2x de R$74,99 sem juros</span>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/equip-4.png')">
            <div class="descricao">
                <h2>Skate Panda #LAYOUT</h2>
                <p>R$ 249,90</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/equip-5.png')">
            <div class="descricao">
                <h2>Prancha de Surf</h2>
                <p>R$ 79,80</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
    </div>
</section>

<!-- ANUNCIO 1 -->
<section class="bg-anuncio">
    <div class="anuncio">
        <a class="anuncio-1" href=""><img src="img/anuncio/anuncio.png" alt=""></a>
        <a class="anuncio-2" href=""><img src="img/anuncio/anuncio-MOBILE.png" alt=""></a>
    </div>
</section>

<!-- PARTE 2: VESTUÁRIO -->
<section class="secao bg-vestuario">
    <h1 class="titulo-secao" id="vestuarios">Vestuário</h1>
    <div class="photo-grid">
        <div class="card"
             style="background-image:url('img/produtos/vest-2.png')">
            <div class="descricao">
                <h2>Chuteira Adidas</h2>
                <p>R$ 199,90</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/vest-3.png')">
            <div class="descricao">
                <h2>Camisa You Already Have...</h2>
                <p>R$ 199,90</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
        <div class="card card-tall salve"
             style="background-image:url('img/produtos/vest-1.png')">
            <div class="descricao-tall">
                <h2>PROMOÇÕES IMPERDÍVEIS PARA VESTIR SUA PAIXÃO</h2>
                <p>a partir de</p>
                <span>R$ 19,90</span>
                <a href="#"><p>VER MAIS ⮞</p></a>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/vest-4.png')">
            <div class="descricao">
                <h2>Kit Uniforme Futebol Ameri...</h2>
                <p>R$ 199,90</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/vest-5.png')">
            <div class="descricao">
                <h2>Uniforme Futebol Infantil </h2>
                <p>R$ 199,90</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
    </div>
</section>


<!-- ANUNCIO 2-->
<section class="bg-anuncio">
    <div class="anuncio">
        <a class="anuncio-1" href=""><img src="img/anuncio/anuncio2.png" alt=""></a>
        <a class="anuncio-2" href=""><img src="img/anuncio/anuncio2-MOBILE.png" alt=""></a>
    </div>
</section>

<!-- PARTE 3: TENDÊNCIAS -->
<section class="secao">
    <h1 class="titulo-secao" id="luta">Luta e artes marciais</h1>
    <div class="photo-grid">
        <div class="card card-tall"
             style="        background-image: url('img/produtos/tend-1.png')
">
            <div class="descricao-tall">
                <h2>OS CAMPEÕES DE VENDA DA NOTIME SPORTS</h2>
                <p>a partir de</p>
                <span>R$ 19,90</span>
                <a href="#"><p>VER MAIS ⮞</p></a>
            </div>
        </div>

        <div class="card"
             style="background-image:url('img/produtos/tend-2.png')">
            <div class="descricao">
                <h2>Faixa japonesa</h2>
                <p>R$ 199,90</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/tend-3.png')">
            <div class="descricao">
                <h2>Luvas para boxe</h2>
                <p>R$ 149,00</p>
                <span>ou 2x de R$74,99 sem juros</span>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/tend-4.png')">
            <div class="descricao">
                <h2>Kit Uniforme para Judô</h2>
                <p>R$ 249,90</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
        <div class="card"
             style="background-image:url('img/produtos/tend-5.png')">
            <div class="descricao">
                <h2>Tapete para Judô</h2>
                <p>R$ 79,80</p>
                <span>ou 4x de R$49,00 sem juros</span>
            </div>
        </div>
    </div>
</section>

<!-- SOBRE NÓS -->
<div class="secao bg-sobre-nos">
    <div class="background-sn"></div>
    <h1 class="titulo-secao" id="sobrenos">Sobre nós</h1>
    <section class="sobre-nos">
        <div class="lado-esquerdo">
            <svg width="145" height="59" viewBox="0 0 145 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.222 36H18.5836L8.76873 18.7669V36H2.09232V8.30527H8.76873L18.5646 25.5384V8.30527H25.222V36ZM52.8977 22.7233C52.8977 25.4243 52.3968 27.8146 51.395 29.8942C50.3932 31.9739 48.9667 33.578 47.1153 34.7066C45.2766 35.8225 43.1779 36.3804 40.8193 36.3804C38.4607 36.3804 36.3684 35.8415 34.5423 34.7636C32.7163 33.6731 31.2897 32.1197 30.2626 30.1035C29.2481 28.0872 28.7155 25.773 28.6648 23.1608V21.601C28.6648 18.8873 29.1594 16.497 30.1485 14.4301C31.1502 12.3504 32.5768 10.7463 34.4282 9.61773C36.2923 8.48914 38.41 7.92485 40.7812 7.92485C43.1272 7.92485 45.2195 8.4828 47.0582 9.59871C48.8969 10.7146 50.3235 12.306 51.338 14.373C52.3651 16.4273 52.885 18.7859 52.8977 21.4489V22.7233ZM46.1072 21.563C46.1072 18.8113 45.6443 16.7253 44.7186 15.305C43.8056 13.8721 42.4931 13.1557 40.7812 13.1557C37.4335 13.1557 35.6646 15.6664 35.4744 20.688L35.4553 22.7233C35.4553 25.4369 35.9055 27.5229 36.8058 28.9812C37.7062 30.4395 39.044 31.1686 40.8193 31.1686C42.5058 31.1686 43.8056 30.4522 44.7186 29.0193C45.6316 27.5863 46.0945 25.5257 46.1072 22.8374V21.563ZM76.4458 13.46H68.1336V36H61.4572V13.46H53.2971V8.30527H76.4458V13.46ZM86.3939 36H79.7365V8.30527H86.3939V36ZM99.8037 8.30527L105.986 27.5737L112.148 8.30527H120.936V36H114.241V29.5328L114.887 16.2941L108.192 36H103.779L97.0647 16.2751L97.7114 29.5328V36H91.035V8.30527H99.8037ZM142.373 24.264H131.873V30.8643H144.275V36H125.197V8.30527H144.313V13.46H131.873V19.2995H142.373V24.264Z" fill="#E62246" />
                <path d="M43.8976 50.0284C43.8976 49.5402 43.7232 49.1598 43.3745 48.8871C43.0321 48.6145 42.4266 48.3324 41.558 48.0407C40.6893 47.749 39.9792 47.4669 39.4276 47.1943C37.6333 46.3129 36.7361 45.1019 36.7361 43.5612C36.7361 42.794 36.958 42.1188 37.4019 41.5355C37.852 40.9458 38.4861 40.4893 39.304 40.166C40.1219 39.8363 41.0412 39.6714 42.062 39.6714C43.0575 39.6714 43.9483 39.8489 44.7345 40.204C45.527 40.5591 46.1421 41.0663 46.5795 41.7257C47.017 42.3787 47.2358 43.1269 47.2358 43.9702H43.9071C43.9071 43.4059 43.7327 42.9684 43.384 42.6577C43.0416 42.347 42.5756 42.1917 41.9859 42.1917C41.39 42.1917 40.9176 42.3249 40.5689 42.5911C40.2265 42.8511 40.0553 43.184 40.0553 43.5898C40.0553 43.9448 40.2455 44.2682 40.6259 44.5598C41.0064 44.8451 41.6753 45.1431 42.6327 45.4538C43.5901 45.7582 44.3763 46.0879 44.9913 46.4429C46.4876 47.3052 47.2358 48.494 47.2358 50.0094C47.2358 51.2204 46.7793 52.1714 45.8663 52.8625C44.9532 53.5536 43.701 53.8992 42.1096 53.8992C40.9873 53.8992 39.9697 53.6995 39.0567 53.3C38.15 52.8942 37.4653 52.3426 37.0024 51.6452C36.5459 50.9414 36.3177 50.133 36.3177 49.22H39.6654C39.6654 49.9618 39.8556 50.5103 40.236 50.8653C40.6228 51.214 41.2473 51.3884 42.1096 51.3884C42.6612 51.3884 43.0955 51.2711 43.4125 51.0365C43.7359 50.7956 43.8976 50.4595 43.8976 50.0284ZM52.2859 49.0108V53.709H48.9477V39.8616H54.4733C55.5321 39.8616 56.4674 40.0582 57.2789 40.4513C58.0968 40.838 58.7277 41.3928 59.1715 42.1156C59.6217 42.8321 59.8468 43.6468 59.8468 44.5598C59.8468 45.9103 59.3617 46.9914 58.3917 47.8029C57.4279 48.6082 56.1028 49.0108 54.4162 49.0108H52.2859ZM52.2859 46.4334H54.4733C55.12 46.4334 55.6114 46.2717 55.9474 45.9484C56.2898 45.625 56.461 45.1685 56.461 44.5789C56.461 43.9321 56.2867 43.4154 55.9379 43.0286C55.5892 42.6419 55.1137 42.4453 54.5113 42.439H52.2859V46.4334ZM73.3613 47.0706C73.3613 48.4211 73.1108 49.6163 72.6099 50.6561C72.109 51.6959 71.3957 52.498 70.4701 53.0623C69.5507 53.6202 68.5014 53.8992 67.3221 53.8992C66.1428 53.8992 65.0966 53.6297 64.1836 53.0908C63.2706 52.5455 62.5573 51.7688 62.0437 50.7607C61.5365 49.7526 61.2702 48.5955 61.2448 47.2894V46.5095C61.2448 45.1527 61.4921 43.9575 61.9866 42.924C62.4875 41.8842 63.2008 41.0821 64.1265 40.5178C65.0586 39.9536 66.1174 39.6714 67.303 39.6714C68.476 39.6714 69.5222 39.9504 70.4415 40.5083C71.3609 41.0663 72.0742 41.862 72.5814 42.8955C73.095 43.9226 73.3549 45.1019 73.3613 46.4334V47.0706ZM69.966 46.4905C69.966 45.1146 69.7346 44.0716 69.2717 43.3615C68.8152 42.645 68.159 42.2868 67.303 42.2868C65.6292 42.2868 64.7447 43.5422 64.6496 46.053L64.6401 47.0706C64.6401 48.4275 64.8652 49.4704 65.3153 50.1996C65.7655 50.9287 66.4344 51.2933 67.3221 51.2933C68.1653 51.2933 68.8152 50.9351 69.2717 50.2186C69.7282 49.5021 69.9597 48.4718 69.966 47.1277V46.4905ZM80.2279 48.8206H78.4209V53.709H75.0827V39.8616H80.5322C82.1744 39.8616 83.4583 40.2262 84.384 40.9553C85.3097 41.6845 85.7725 42.7148 85.7725 44.0463C85.7725 45.01 85.576 45.8089 85.1829 46.4429C84.7961 47.077 84.1874 47.5905 83.3569 47.9836L86.2481 53.5663V53.709H82.6721L80.2279 48.8206ZM78.4209 46.2432H80.5322C81.1663 46.2432 81.6418 46.0784 81.9588 45.7487C82.2822 45.4126 82.4438 44.9466 82.4438 44.3506C82.4438 43.7546 82.2822 43.2886 81.9588 42.9525C81.6354 42.6102 81.1599 42.439 80.5322 42.439H78.4209V46.2432ZM98.1838 42.439H94.0277V53.709H90.6895V42.439H86.6095V39.8616H98.1838V42.439ZM106.591 50.0284C106.591 49.5402 106.417 49.1598 106.068 48.8871C105.726 48.6145 105.12 48.3324 104.252 48.0407C103.383 47.749 102.673 47.4669 102.121 47.1943C100.327 46.3129 99.4297 45.1019 99.4297 43.5612C99.4297 42.794 99.6516 42.1188 100.095 41.5355C100.546 40.9458 101.18 40.4893 101.998 40.166C102.815 39.8363 103.735 39.6714 104.756 39.6714C105.751 39.6714 106.642 39.8489 107.428 40.204C108.221 40.5591 108.836 41.0663 109.273 41.7257C109.711 42.3787 109.929 43.1269 109.929 43.9702H106.601C106.601 43.4059 106.426 42.9684 106.078 42.6577C105.735 42.347 105.269 42.1917 104.68 42.1917C104.084 42.1917 103.611 42.3249 103.262 42.5911C102.92 42.8511 102.749 43.184 102.749 43.5898C102.749 43.9448 102.939 44.2682 103.32 44.5598C103.7 44.8451 104.369 45.1431 105.326 45.4538C106.284 45.7582 107.07 46.0879 107.685 46.4429C109.181 47.3052 109.929 48.494 109.929 50.0094C109.929 51.2204 109.473 52.1714 108.56 52.8625C107.647 53.5536 106.395 53.8992 104.803 53.8992C103.681 53.8992 102.663 53.6995 101.75 53.3C100.844 52.8942 100.159 52.3426 99.696 51.6452C99.2395 50.9414 99.0112 50.133 99.0112 49.22H102.359C102.359 49.9618 102.549 50.5103 102.93 50.8653C103.316 51.214 103.941 51.3884 104.803 51.3884C105.355 51.3884 105.789 51.2711 106.106 51.0365C106.429 50.7956 106.591 50.4595 106.591 50.0284Z" fill="#E62246" />
                <rect x="2.16418" y="46" width="25.9701" height="4.32836" fill="#E62246" />
                <rect x="117.948" y="45.4478" width="25.9701" height="4.32836" fill="#E62246" />
            </svg>
            <p>
                Somos uma empresa que buscamos tais objetivos com focos nas vendas de tais produtos com tais competências e equipes excelentes. Nossos produtos vem de diversos fornecedores com controle através de um sistema único e feito diretamente para a nossa equipe atender a todas as necessidades.
            </p>
            <!-- <img class="grupo-icon" src="img/grupo-icon.png"></img> -->
        </div>

        <div class="lado-direito">
            <div class="imagem"></div>
        </div>
    </section>
</div>

<!-- CONTATO -->
<div class="secao">

    <h1 class="titulo-contato" id="luta">Precisa de ajuda? Entre em contato!</h1>
    <section class="contato">

        <div class="form-contato">
            <form class="form" action="#" method="post">

                <div>
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" />
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" />
                </div>

                <div>
                    <label for="msg">Mensagem</label>
                    <textarea id="msg"></textarea>
                </div>

                <div class="button">
                    <button type="submit">Enviar Mensagem ⮞</button>
                </div>

            </form>
        </div>

        <div class="dados-contato">
            <div>
                <h3>Endereço</h3>
                <p>Rua tal tal tal</p>
                <p>São Paulo, SP</p>
                <p>Próximo a loja tal tal tal</p>
            </div>

            <div>
                <h3>Email e telefone</h3>
                <p>contato@notime.com</p>
                <p>21 9999-9999</p>
            </div>

            <div>
                <h3>Horário</h3>
                <p>De segunda a sexta</p>
                <p>das 08:00 às 18:00</p>
            </div>
        </div>
    </section>
</div>